src/test/resources/schema/ccm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.jhc.co.uk/domain/ccm" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schemas.jhc.co.uk/domain/ccm" elementFormDefault="qualified"
    attributeFormDefault="unqualified" xmlns:c="http://schemas.jhc.co.uk/domain/common">

    <xs:import namespace="http://schemas.jhc.co.uk/domain/common" schemaLocation="common.xsd"/>

    <xs:element name="CcmDataItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CcmDataItem" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CcmDataItem">
        <xs:complexType>
            <xs:attribute name="componentId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unique identifier of the component this relates to.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="readOnly" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Flag to indicate that the component is not editable.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="before" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Value of the data before the action.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="after" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Value of the data after the action.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="errorCode" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Error code of failure, if available.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="errorMessage" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Error message, if available.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="CcmUpdate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="c:Links" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Unique identifier of this update</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="status" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The update status. Valid values are C complete, I incomplete, F failed, P pending authorisation, R rejected, A authorised.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="uecode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The uecode of the modified entity.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="accountNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The account number of the modified account, if appropriate.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="failureReason" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The reason the action failed, if appropriate.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="CcmUpdates">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CcmUpdate" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CcmAction">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="c:Links" minOccurs="0"/>
                <xs:element ref="CcmUpdates" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A list of updates that have happened as part of this action.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>Unique identifier of this action</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="status" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The action status. Valid values are C committed, O open, X cancelled, R rejected, A authorised.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="username" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The username of the person performing the action.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="uecode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The uecode of the modified entity.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="performed" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>When the action was performed.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="failureReason" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The reason the action failed, if appropriate.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="CcmPageComponent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CcmDataItem" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The data previously entered, if this component is being returned as part of an update query.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identifies this component uniquely within a template</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="label" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The end-user readable description of this component</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="length" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Maximum component value length</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="defaultValue" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The default value.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="mandatory" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Indicates whether this is a mandatory value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="text" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Indicates whether this is a text value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="numeric" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Indicates whether this is a numeric value</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="displayType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The display type of the component, if applicable. H Hidden,R Read only, L Layout, E Edit, S Summary, A Auxilliary</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="CcmPageComponents">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CcmPageComponent" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CcmPage">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="c:Links" minOccurs="0"/>
                <xs:element ref="CcmPageComponents"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="description" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="CcmPages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CcmPage" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="templateId" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="CcmActions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CcmAction" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CcmTemplates">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CcmTemplate" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="ModificationType">
        <xs:annotation>
            <xs:documentation>Type of modification that can be performed with this template. Valid values are *NEW to create, *UPD to update and *ADD to add an entity to an existing one (such as adding an account).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="*NEW"/>
            <xs:enumeration value="*UPD"/>
            <xs:enumeration value="*ADD"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="EntityLevel">
        <xs:annotation>
            <xs:documentation>The level of entity that this template applies to.  Valid values are P (individual), C (account) and * (all).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="P"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="*"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="CcmTemplate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="c:Links" minOccurs="0"/>
                <xs:element ref="CcmPages"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="description" type="xs:string"/>
            <xs:attribute name="personType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The type of person entity that can be created with this template.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="accountType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The type of account entity that can be created with this template.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="numberOfPages" type="xs:int">
                <xs:annotation>
                    <xs:documentation>The number of pages in this template.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="modificationType" type="ModificationType"/> 
            <xs:attribute name="entityLevel" type="EntityLevel"/>
        </xs:complexType>
    </xs:element>



</xs:schema>
